

body {
    max-width: 600px; /* sets max width of the website page */
    font-family: Arial, helvetica, sans-serif;
    font-size: medium;
    color: black;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    background-color: #add8e6;
    background-image: url(../img/beach.png);
    background-position: 100% center;
}
header {
    background-color: lightpink;
    padding-top: 2px;
}
header img {
    width: 100px;
    height: 50px;
}

footer {
    padding-top: 5px;
    background-color: lightgray;

}
#text_area {
    border: 5px solid orange;
    text-align: left;
    padding: 5px;
}
#typing_area {
    border: 5px solid orange;
    text-align: center;
}


#control_button {
    background-image: url( ../img/green.jpg);
}


#statistics p {
    width: 45%;
    text-align: right;
    display: inline-block;

}
/*styling for the statistics box to make content display more centered*/
#statistics {
    padding-left: 15%;
    padding-right: 15%;
}

